.disp-text {
	font-size: max(10pt, 2.5vmin);
	line-height: 1.4;
	color: #5ea5f6;
	margin-bottom: 1.5em;
}

.wrap {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	aspect-ratio: 10/7;
	margin: 2em auto;
	border: 0.2em solid rgb(137, 103, 169), 0.4;
	border-radius: 0.6em !important;
	/* border-image: linear-gradient(-50deg, rgb(30, 0, 130), #191970, midnightblue, rgb(35, 0, 130), #000282, rgb(39, 0, 130)) 1; */
	transition: .3s ease-in-out;
	position: relative;
	overflow: hidden;
}
.edu-overlay {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1rem .75rem;
	background: #000000;
	transition: .4s ease-in-out;
	z-index: 1;
}
.edu-overlay-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 0vmin;
	height: 100%;
	padding: .3rem 0 0 .3rem;
	border: 3px solid;
	border-image: 
        linear-gradient(
            to bottom,
            #083485  5%,   
            #431ab3 35% 65%, 
            #082585 95%    
        ) 0 0 0 100%; 
	transition: .3s ease-in-out .2s;
	z-index: 1;
}
.image-content {
	position: absolute;
	top: 0;
	right: 0;
	width: 70%;
	height: 100%;
	background-size: cover;
	transition: .3s ease-in-out;
}
.edu-text {
	position: absolute;
	top: 0;
	right: -2%;
	width: 102%;
	height: 100%;
	padding: 3vmin 1em;
	background: #ffffff;
    color: black;
	box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / .4);
	/* overflow-y: scroll; */
	overflow: hidden !important;
	text-align: left;
	background-color: rgb(16, 13, 37); /* Slightly darker indigo background color */
    text-align: left;
    opacity: 0.9;
	color: white !important;
	opacity: 1 !important;
}

.about-edu-rows:not(:last-child){
	border-bottom: 0.2px solid rgb(137, 103, 169);
    border-width: 90%;;
    box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 0px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0.5em;
	margin-top: 0.2em;
}

.about-text-title{
	font-size: 1.2em;
	color: black !important;
	font-weight: 700;
}
.about-text-bold{
	font-weight: 600;
}
.about-text-col{
	color: #5488ef;
}

.wrap:hover .edu-overlay {
	transform: translateX(-100%);
}
.wrap:hover .image-content {
	width: 0vmin;
}
.wrap:hover .edu-overlay-content {
	border: none;
	display: none;
	transition-delay: .2s;
	transform: translateX(60vmin);
}
.wrap:hover .disp-text{
	width: 85vmin;
}


/* Animations and timing delays */
.animate {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
}
/* Pop In */
.pop { animation-name: pop; }
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Slide In */
.slide { animation-name: slide; }
@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Left */
.slide-left { animation-name: slide-left; }
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-up {animation-name: slide-up;}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(3em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}
.delay-3 {
  animation-delay: 0.9s;
}
.delay-4 {
  animation-delay: 1.2s;
  font-size: 1em !important;
  font-weight: 700;
}
.delay-5 {
  animation-delay: 1.5s;
  font-size: 0.9em !important;
  font-weight: 600;
}
.delay-6 {
  animation-delay: 1.8s;
}
.delay-7 {
  animation-delay: 2.1s;
}
.delay-8 {
  animation-delay: 2.4s;
}

.delay-5 {
	font-weight: 600;
}
.delay-5 em{
	font-weight: 500;
}

.edu-img-bg{
    position: relative;
    width: 70%;
    height: 80%;
}
.edu-ele{
    border-radius: 0.25em;
    background-color: #1E90FF;
    color: white;
    width: 90%;
    padding: 1em;
}
.edu-ele:hover{
    width:95%;   
    padding-top: 1.2em;
    padding-top: 1.2em;
}

@media (max-width: 500px){
	.edu-overlay-content{
		display: none;
	}
	.image-content{
		width: 100% !important;
	}
	.edu-text{
		padding: 0px !important;
		font-size: 0.1em !important;
		overflow: hidden !important;
	}
}

@media (max-width: 1000px){
	.delay-4{
		font-size: 0.9em !important;
	}
	.edu-text{
		padding: 0px !important;
		font-size: 0.9em !important;
		overflow: hidden !important;
	}
}

@media (min-width: 1000px){
	.edu-text{
		font-size: 1em !important;
	}
	.delay-4{
		font-size: 1.3em !important;
	}
	.delay-5{
		font-size: 1.2em !important;
	}
}

@media (min-width: 1200px){
	.edu-text{
		font-size: 1em !important;
	}
	.delay-4{
		font-size: 1.25em !important;
	}
	.delay-5{
		font-size: 1.15em !important;
	}
}
